<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
</head>
<body>
    <div class="topnav">
        <ul class="start-nav">
            <div id="about-container" class="left-container">
            <a href="https://about.google/?fg=1&utm_source=google-SG&utm_medium=referral&utm_campaign=hp-header">About</a>
            </div>
            <div id="store-container" class="left-container">
            <a href="https://store.google.com/SG?utm_source=hp_header&utm_medium=google_ooo&utm_campaign=GS100042&hl=en-SG">Store</a>
            </div>
        </ul>
        <div class="nav">
            <li>
                <a href="https://www.gmail.com" id="gmail" class="image-gmail">Gmail</a>
            </li>
            <li>
                <a href="https://www.google.com/imghp?hl=en&tab=ri&ogbl" id="images" class="image-gmail">Images</a>
            </li>
            
                <div id="show-apps-circle" aria-expanded="false">
                <a id="google-apps" title="Google Apps" role="button">
                    <svg class="gb_i" focusable="false" viewBox="0 0 24 24"><path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path><image src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt="" height="24" width="24" style="border:none;display:none \9"></image></svg>
                    </a>    
                    </div>
            
            <li>
                <a id="sign-in" href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&hl=en&ifkv=AVQVeyzg-OnIv_K0Tl8AYvJjdIkSqtIO1FhNK65nTc1RB7F50LWojnNppQG7JaDI9VvuZmzI8ah1ng&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S671164775%3A1697460953336558&theme=glif">Sign In</a>
            </li>
            <div class="google-apps-XL-container">
                <div class="google-apps-IKASP hidden">
                <div class="google-apps-container">
                <div class="IIAS9">
                    <div class="google-apps-dropdown">
                        <div class="big-time first-child">
                            <ul class="unordered">
                                <li class="mini-container">
                                    <a class="mini-link" href="https://myaccount.google.com/?utm_source=OGB&utm_medium=app">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-account" style="background-position: 0 -1798px;"></span>
                                        </div>
                                        <span class="apps-name">Account</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-search" style="background-position: 0 -1392px;"></span>
                                        </div>
                                        <span class="apps-name">Search</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://maps.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-maps" style="background-position: 0 -1044px;"></span>
                                        </div>
                                        <span class="apps-name">Maps</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.youtube.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-youtube" style="background-position: 0 -2378px;"></span>
                                        </div>
                                        <span class="apps-name">Youtube</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://play.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-play" style="background-position: 0 -290px;"></span>
                                        </div>
                                        <span class="apps-name">Play</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://news.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-news" style="background-position: 0 -1334px;"></span>
                                        </div>
                                        <span class="apps-name">News</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://mail.google.com/mail/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-gmail" style="background-position: 0 -2436px;"></span>
                                        </div>
                                        <span class="apps-name">Gmail</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://meet.google.com/?hs=197">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-meet" style="background-position: 0 -348px;"></span>
                                        </div>
                                        <span class="apps-name">Meet</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://chat.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-chat" style="background-position: 0 -580px;"></span>
                                        </div>
                                        <span class="apps-name">Chat</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://contacts.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-contacts" style="background-position: 0 -1624px;"></span>
                                        </div>
                                        <span class="apps-name">Contacts</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://drive.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-drive" style="background-position: 0 -116px;"></span>
                                        </div>
                                        <span class="apps-name">Drive</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://calendar.google.com/calendar">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-calendar" style="background-position: 0 -1276px;"></span>
                                        </div>
                                        <span class="apps-name">Calendar</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://translate.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-translate" style="background-position: 0 -1682px;"></span>
                                        </div>
                                        <span class="apps-name">Translate</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://photos.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-photos" style="background-position: 0 -870px;"></span>
                                        </div>
                                        <span class="apps-name">Photos</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.google.com/shopping?source=og">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-shopping" style="background-position: 0 -174px;"></span>
                                        </div>
                                        <span class="apps-name">Shopping</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="big-time second-child">
                            <ul class="unordered">
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.google.com/finance">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-finance" style="background-position: 0 -1508px;"></span>
                                        </div>
                                        <span class="apps-name">Finance</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://docs.google.com/document/?usp=docs_alc">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-docs" style="background-position: 0 -2088px;"></span>
                                        </div>
                                        <span class="apps-name">Docs</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://docs.google.com/spreadsheets/?usp=sheets_alc">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-sheets" style="background-position: 0 -2146px;"></span>
                                        </div>
                                        <span class="apps-name">Sheets</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://docs.google.com/presentation/?usp=slides_alc">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-slides" style="background-position: 0 0;"></span>
                                        </div>
                                        <span class="apps-name">Slides</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://books.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-books" style="background-position: 0 -522px;"></span>
                                        </div>
                                        <span class="apps-name">Books</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.blogger.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-blogger" style="background-position: 0 -2494px;"></span>
                                        </div>
                                        <span class="apps-name">Blogger</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://keep.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-keep" style="background-position: 0 -1102px;"></span>
                                        </div>
                                        <span class="apps-name">Keep</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://jamboard.google.com/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-jamboard" style="background-position: 0 -2030px;"></span>
                                        </div>
                                        <span class="apps-name">Jamboard</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://earth.google.com/web/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-earth" style="background-position: 0 -1566px;"></span>
                                        </div>
                                        <span class="apps-name">Earth</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.google.com/save">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-saved" style="background-position: 0 -1972px;"></span>
                                        </div>
                                        <span class="apps-name">Saved</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://artsandculture.google.com/?utm_source=ogs.google.com&utm_medium=referral">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-artsculture" style="background-position: 0 -638px;"></span>
                                        </div>
                                        <span class="apps-name">Arts and Culture</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://ads.google.com/home/?subid=ww-ww-xs-ip-awhc-a-ogb_cons!o2">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-ads" style="background-position: 0 -1218px;"></span>
                                        </div>
                                        <span class="apps-name">Google Ads</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://www.google.com/travel/?dest_src=al">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-travel" style="background-position: 0 -754px;"></span>
                                        </div>
                                        <span class="apps-name">Travel</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://docs.google.com/forms/">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-forms" style="background-position: 0 -232px;"></span>
                                        </div>
                                        <span class="apps-name">Forms</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://store.google.com/?utm_source=app_launcher&utm_medium=google_oo&utm_campaign=GS107345">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-store" style="background-position: 0 -2204px;"></span>
                                        </div>
                                        <span class="apps-name">Google Store</span>
                                    </a>
                                </li>
                                <li class="mini-container">
                                    <a class="mini-link" href="https://chrome.google.com/webstore?utm_source=app-launcher">
                                        <div class="MCBLING">
                                            <span class="apps-icons apps-chromestore" style="background-position: 0 -1914px;"></span>
                                        </div>
                                        <span class="apps-name">Chrome Web Store</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="additional-button">
                            <a href="https://about.google/products/" class="google-products">
                                More from Google
                            </a>
                        </div>
                    </div>
                
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="logo">
        <img src="google logo.png" alt="google logo"/>
    </div>
    <div class="bar">
        <div class="bar-within-bar">
        <div id="svg-search-icon-container">
            <img src="/icons8-magnifying-glass.svg" class="search-svg">
        </div>
        <input class="searchbar" type="text" placeholder="Search Google or type a URL">
        <div id="voice-icon-container">
            <button class="searchbar-buttons" title="Search by voice">
            <img src="/google-mic-seeklogo.com.svg" id="voice-icon">
            </button>
        </div>
        <div id="picture-icon-container">
            <button class="searchbar-buttons" title="Search by image">
            <img src="Google_Lens_Icon.svg.png" id="google-lens-icon">
            </button>
        </div>
        </div>
    </div>

    </div>
    <div class="spacing-container">
    </div>
    <div class="footer">
        <div id="location-container">
        <div id="location">Singapore</div>
        </div>
        <div class="btm-footer-container">
        <div id="btm-footer">
            <div id="container-1">
                <a href="https://www.google.com/intl/en_sg/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Advertising</a>
                <a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Business</a>
                <a href="https://google.com/search/howsearchworks/?fg=1">How Search Works</a>
            </div>
            <div id="container-2">
                <a href="https://policies.google.com/privacy?hl=en-SG&fg=1">Privacy</a>
                <a href="https://policies.google.com/terms?hl=en-SG&fg=1">Terms</a>
                <a>Settings</a>
            </div>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="/client.js"></script>
</body>

</html>